<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
   
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootswatch.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timepicker/jquery.timepicker.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bic_calendar.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.jss"></script>
    <script src="{{STATIC_URL}}css/timepicker/jquery.timepicker.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bic_calendar.min.js"></script>   
    <script src="{{STATIC_URL}}js/angular.min.js" ></script>
    <script src="{{STATIC_URL}}js/app.js" ></script>

    <script type="text/javascript">
        $(document).ready( function()
        {
            mesos = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            dias = ["S", "M", "T", "W", "T", "F", "S"];

            $('#calendar').bic_calendar(
            {
                nombresMes: mesos,
                dias: dias,
                req_ajax: { type: 'get', url: 'data.php' }
            });
        });
    </script>

    <title>{% block title %}Epstein{% endblock %}</title>
</head>
<body ng-app="">
    {% block navigation %}
    <div class="navbar row-fluid">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a class="brand" href="/about"><em>Epstein</em></a></li>
                <li><a href="/bands">Bands</a></li>
                <li><a href="/events">Events</a></li>
    
            </ul>
            <ul class="nav pull-right">

                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"href="#">
                        {{user.email}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                          <li><a href="users/logout">Log Out</a></li>
                          <li><a href="#">Edit Profile</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"href="#">
                        Login<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <form>
                            <input type="text" placeholder="email address"/>
                            <input type="password" placeholder="password"/>
                            <input type="submit" class="btn"/>
                        </form>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
   <!--  <footer class="container">Footer placeholder</footer> -->
    {% endblock %}
</body>
</html>

