<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% "static bootstrap.css" }%">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootswatch.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timepicker/jquery.timepicker.css">
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}css/timepicker/jquery.timepicker.js"></script>

    <title>{% block title %}Epstein!{% endblock %}</title>
</head>
<body>
    {% block navigation %}
    <div class="navbar row-fluid">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a class="brand" href="/home/about"><em>Epstein</em></a></li>
                <li><a href="/bands">Bands</a></li>
                <li><a href="#">Shows</a></li>
    
            </ul>
            <ul class="nav pull-right">
                <li><a href="/home/log_out">Log Out</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Epstein</a>
            <ul class="nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Do Something</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"href="#">
                        Login<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <form>
                            <input type="text" placeholder="email address"/>
                            <input type="password" placeholder="password"/>
                            <input type="submit" class="btn"/>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div> -->
    {% endblock %}
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <footer class="container">Footer placeholder</footer>
    {% endblock %}
</body>
</html>

