{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		$("#datepicker").datepicker();
		$("#timepicker").timepicker({ 'scrollDefaultNow': true });
	});
</script>

<div class="container">
	
	<h1 class="text-center">Seamen Vaccum</h1>
	<h3>Add a show</h3>
	<form action="/shows/add_show" method="post">
		<input type="text" id="datepicker" name="date" placeholder="Date" />
		<input type="text" id="timepicker" name="time" placeholder="Time" />
		<input type="text" name="description" placeholder="Description" />
		<input type="text" name="address" placeholder="Address" /><br />
		<input type="submit" class="btn btn-inverse" value="Add Show" />
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date &amp; Time</th>
				<th>Description</th>
				<th>Address</th>
				<th>Setlist</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>Monday August 8th, 2013</td>
			<td>The Warfield</td>
			<td>12345 Market St, San Francisco, CA</td>
			<td><a href='/setlist/index/"'>view</a></td>
		</tr>
		<!-- foreach ($shows as $show)
		{
			echo "<tr>
					<td>". date('M jS, Y', strtotime($show->date)) ." at ". date('g:i A', strtotime($show->time)) . "</td>
					<td>". $show->description ."</td>
					<td>". $show->address ."</td>
					<td><a href='/setlist/index/". $show->id ."'>view</a></td>
				</tr>";
		} -->
	
		</tbody>
	</table>	
</div>

{% endblock %}
