{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		$("#datepicker").datepicker( { dateFormat: 'yy-mm-dd' } );
		$("#timepicker").timepicker({ 'scrollDefaultNow': true });
	});
</script>

<div class="container">	
	<ul class="breadcrumb">
		<li><a href="#">{{band.name}}</a> <span class="divider">/</span></li>
		<li class="active">dashboard</span></li>
	</ul>
	
	<div class="row">
		<div class="span3">
			<fieldset>
				<legend>Add Event</legend>
				<form id="add-event" action="/bands/{{band.id}}/events/create/" method="post">
					{% csrf_token %}
					<input type="text" id="datepicker" name="date" placeholder="Date" />
					<input type="text" id="timepicker" name="time" placeholder="Time" /><br/>
					<input type="text" id="event-desc" name="description" placeholder="Description" /><br/>
					<input type="text" id="event-addr" name="address" placeholder="Address" /><br />
					<input type="submit" class="btn btn-inverse" value="Add Event" />
				</form>
			</fieldset>
			

			<fieldset>
			<legend>Tools</legend>
				<ul class='nav nav-stacked'>	
					<li><a href="/bands/{{band.id}}/songs/">Manage Songs</a></li>
					<li><a href="/bands/{{band.id}}/profile/">Edit Profile</a></li>
				</ul>
			</fieldset>
		</div>
		<div class="span7">
			<fieldset>
			<legend>Events</legend>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Date &amp; Time</th>
							<th>Description</th>
							<th>Address</th>
							<th>Setlist</th>
						</tr>
					</thead>
					<tbody>
					{% for event in events %}
					<tr>
						<td>{{event.date}}<br/>{{event.time}}</td>
						<td>{{event.description}}</td>
						<td>{{event.address}}</td>
						<td><a href='/bands/{{band.id}}/events/{{event.id}}/setlist'>view</a></td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="span2">
			<fieldset>
			<legend>Calendar</legend>

			<div id='calendar'></div>
			</fieldset>
		</div>
	</div>
</div> <!-- div container/DashboardController -->

{% endblock %}
