{% extends "base.html" %}

{% block content %}
<div class="container">
	<ul class="breadcrumb">
		<li><a href="#">Home</a> <span class="divider">/</span></li>
		<li class="active">Dashboard</span></li>
	</ul>
	<div class="row">
		<div class="span2">
			<fieldset>
			<legend>Bands</legend>

			<ul class='nav nav-stacked'>
				{% if bands|length == 0 %}
				<p>You don't have any bands!</p>
				{% endif %}
				{% for band in bands %}
				<li class='dropdown'>
					<a class="dropdown-toggle" data-toggle='dropdown' href="#">{{band.name}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/bands/{{band.id}}/">Dashboard</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="/bands/{{band.id}}/leave">Leave Band</a></li>
					</ul>
				</li>
				{% endfor %}
			</ul>
			<form action="/bands/create" method="post">
				{% csrf_token %}
				<input type="text" class="span2" name="band_name" placeholder="new band" />	
				<input type="submit" class="btn btn-inverse" value="New Band" />
			</form>
			<!-- <a href="#" class="btn btn-inverse">Join Band</a> -->
			</fieldset>
			</br>
		</div>
		<div class="span7">
			<fieldset>
			<legend>News Feed</legend>

			<table class="table table-striped">
				{% for item in news %}
				<tr><td>{{item.user}}: {{item.msg}}</td></tr>
				{% endfor %}
			</table>
			</fieldset>
		</div>
		<div class="span3">
			<fieldset>
			<legend>Calendar</legend>

			<div id='calendar'></div>
			</fieldset>
			<br>
			<fieldset>
			<legend>Upcoming Events</legend>
			<table class="table table-striped">
				{% for event in events %}
				<tr><td><a href="#">{{event.date.date}} at {{event.time}}<br/> {{event.description}}</a></td></tr>
				{% endfor %}
			</table>

			<!-- <button class="btn btn-inverse">New Event</button> -->
			</fieldset>
		</div>
	</div>
</div> <!-- div container/DashboardController -->

{% endblock %}
