{% extends "base.html" %}

{% block content %}
<h1>Register for the AMAZING website!</h1>
<form action="/users/new" method="post">{% csrf_token %}
	<input type="text" name="first_name" placeholder="First name"/><br/>
	<input type="text" name="last_name" placeholder="Last name"/><br/>
	<input type="text" name="email_addr" placeholder="Email address"/><br/>
	<input type="password" name="password" placeholder="Password"/><br/>
	<input type="password" name="password_confirm" placeholder="Confirm password"/><br/>
	<input type="submit" value="submit" class="btn"/>
</form>
{% endblock %}