{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		$("#datepicker").datepicker( { dateFormat: 'yy-mm-dd' } );
		$("#timepicker").timepicker({ 'scrollDefaultNow': true });
	});
</script>

<div class="container">	
	<ul class="breadcrumb">
		<li><a href="/dashboard/">Home</a> <span class="divider">/</span></li>
		<li><a href="/bands/{{band.id}}/">{{band.name}}</a> <span class="divider">/</span></li>
		<li><a href="/bands/{{band.id}}/events/{{event.id}}/">{{event.description}}</a> <span class="divider">/</span></li>
		<li class="active">Edit</span></li>
	</ul>
	
	<div class="row">
		<div class="span6">
			<fieldset>
			<legend>Edit Event</legend>

			<form id="add-event" action="/bands/{{band.id}}/events/{{event.id}}/update/" method="post">
					{% csrf_token %}
					<input type="text" id="datepicker" name="date" value="{{event.date}}" />
					<input type="text" id="timepicker" name="time" value="{{event.time}}" /><br/>
					<input type="text" id="event-desc" name="description" value="{{event.description}}" /><br/>
					<input type="text" id="event-addr" name="address" value="{{event.address}}" /><br />
					<input type="submit" class="btn btn-inverse" value="Edit Event" />
				</form>
			</fieldset>			
		</div> 
	</div>
 </div> <!-- div container -->

{% endblock %}
